
// IE 10 + 11 specific scss
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    .wrapper-main .grid-item{
        min-height: 20vw;
    }
    .wrapper-main .title--a .title{
        width: 100%;
    }

    .wrapper-form{
        .grid-item{
            &:nth-child(1){
                grid-column: 1 / 2;

                @include media-breakpoint-down(md){
                    display: none;
                }
            }
            &:nth-child(2){
                grid-column: 2 / 5;

                @include media-breakpoint-down(md){
                    grid-column: 1 / 5;
                }
                @include media-breakpoint-down(sm){
                    grid-column: 1 / 6;
                }
            }
            &:nth-child(3){
                grid-column: 5 / 6;
                
                @include media-breakpoint-down(sm){
                    display: none;
                }
            }
        }
    }

    .fill--pattern{
        background-size: 30px 30px;
    }
}