.img-fill{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img-overlay{
    @extend .img-fill;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
}

.mb-t{
    height: 80px;

    @media (max-width: 460px) {
        height: 120px;
    }
}