
.datepicker-top-left,
.datepicker-top-right {
  border-top-color: $red;
}

.datepicker-top-left::before,
.datepicker-top-right::before {
  border-bottom-color: $red;
}

.datepicker-bottom-left,
.datepicker-bottom-right {
  border-bottom-color: $red;
}

.datepicker-bottom-left::before,
.datepicker-bottom-right::before {
  border-top-color: $red;
}

.datepicker-panel > ul > li.picked, 
.datepicker-panel > ul > li.picked:hover{
  color: $red;
}

.datepicker-panel > ul > li.highlighted,
.datepicker-panel > ul > li.highlighted:hover {
  color: white;
}


.datepicker-panel > ul > li:hover {
  background-color: $red-80;
}

.datepicker-panel > ul > li.highlighted {
  background-color: $red;
}

.datepicker-panel > ul > li.highlighted:hover {
  background-color: $red-20;
}

.datepicker-panel > ul > li.disabled.highlighted,
.datepicker-panel > ul > li.disabled:hover.highlighted {
  background-color: $light-20;
}