body:after{
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    background: #fff;
    padding: 0 5px;
    font-size: 16px;
    border-radius: 0 3px 0 0;
    z-index: 99999999999;
    
    @include media-breakpoint-up(xl){
        content:"> xl";
    }
    @include media-breakpoint-down(xl){
        content:"xl";
    }
    @include media-breakpoint-down(lg){
        content:"lg";
    }
    @include media-breakpoint-down(md){
        content:"md";
    }
    @include media-breakpoint-down(sm){
        content:"sm";
    }
    @include media-breakpoint-down(xs){
        content:"xs";
    }
}