body{
    font-family: 'Barlow', sans-serif;
}



// bootstrap
.invalid-feedback{
    padding-left: 1.8rem;
}

.form-control.is-valid, 
.was-validated .form-control:valid,

.was-validated .form-control:invalid, 
.form-control.is-invalid,

.was-validated .custom-select:valid, 
.custom-select.is-valid{
    box-shadow: none !important;
}