label{
    margin-left: $input-btn-padding-x;
}
.input-group-text{
    font-size: 1.2rem;
}
.form-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $spacer * 2;
}