
//
// global grid classes
//
.grid-container{
    display: grid;
}
//
// types of grid items
//
// fills
.fill--a{
    background: $red;
}

.fill--b{
    background: $light;
}

.fill--c{
    background: white;
}

.fill--orange-20{
    background: $orange-20;
    height: 100%;
}
.fill--pattern{
    height: 100%;
    background-image: url("../assets/img/patterns/stripes.svg");  
    background-size: 47px 47px;  
    opacity: 0.2;
}



// strokes
.stroke--orange{
    height: 7px;
    background: $orange;
    margin-top: -50px;
    margin-bottom: 50px;
}



// texts
%text-markup {
    padding: 50px;
    padding-bottom: 50 - 16px;


    .stroke {
        height: 2px;
        margin-bottom: $spacer;
    }

    .title {
        margin-left: 20px;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
    }
}

.text--a {
    @extend %text-markup;
    background: $red;
    color: transparentize(white, 0.2);

    .stroke {
        background: $black;
    }

    .title {
        color: white;
    }
}

.text--b {
    @extend %text-markup;
    background: $light;

    .stroke {
        background: $black;
    }

    .title {
        color: $red;
    }
}

.text--c {
    @extend .text--a;
}



// titles
.title--a {
    .block {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 33.333%;

        @media (max-width: 1300px) {
            width: 50%;
        }

        @media (max-width: 1050px) {
            width: 40%;
        }

        @include media-breakpoint-down(sm) {
            width: 50%;
        }

        @include media-breakpoint-down(xs) {
            width: 60%;
        }
    }

    .title {
        color: white;
        font-size: 60px;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
        margin-left: 50px;
        padding-top: 25px;
        padding-bottom: 25px;

        @media (max-width: 1800px) {
            font-size: 50px;
        }
        @include media-breakpoint-down(xs) {
            font-size: 40px;
        }
    }
}

.img--a {
    grid-area: a;
    @extend .img-fill;

    display: flex;
    justify-content: flex-end;
}


//
// grid sizes
//
.grid--a{
    grid-template-columns: repeat(5, 1fr);
}


