
.header-desktop{
    position: relative;
    padding-top: 26px;
    padding-bottom: 26px;
    background: white;

    z-index: 100;

    @include media-breakpoint-down(md){
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .col{
        display: flex;
        justify-content: flex-end;
    }

    .logo{        
        img{
            height: 80px;

            @include media-breakpoint-down(md){
                height: 60px;
            }
        }
    }
}