.wrapper-main {
  grid-auto-rows: 20vw;
  grid-template-areas:
    "a a b c d"
    "e f g g g"
  ;

  @media (max-width: 1800px) {
    grid-template-areas:
      "a a b c c"
      "f f g g g"
    ;

    // hide unused grid items
    .grid-item {

      &:nth-child(4),
      &:nth-child(5) {
        display: none;
      }
    }
  }

  @media (max-width: 1600px) {
    grid-auto-rows: auto;
    grid-template-areas:
      "a a b b e"
      "a a d c c"
      "f f g g g"
    ;

    .grid-item {

      &:nth-child(4),
      &:nth-child(5) {
        display: block;
      }
    }
  }

  @media (max-width: 1300px) {
    grid-template-areas:
      "a a b b b"
      "a a c c c"
      "f f g g g"
      "f f g g g"
    ;

    .grid-item {

      &:nth-child(4),
      &:nth-child(5) {
        display: none;
      }
    }
  }

  @media (max-width: 1050px) {
    grid-template-areas:
      "a a b b b"
      "a a c c c"
      "f f f f f"
      "g g g g g"
    ;
  }

  @media (max-width: 800px) {
    grid-template-areas:
      "b b b b b"
      "a c c c c"
      "f f f f f"
      "g g g g g"
    ;
  }



  .grid-item {
    &:nth-child(1) {
      background-image: url("../assets/img/block2.jpg");
      
      @include media-breakpoint-down(xs){
        background-position-x: 60%;
      }

      .block {
        width: 25%;

        @media (max-width: 800px) {
          width: 100%;
        }
      }
    }

    &:nth-child(2) {
      grid-area: b;
    }

    &:nth-child(3) {
      grid-area: c;
    }

    &:nth-child(4) {
      grid-area: d;
    }

    &:nth-child(5) {
      grid-area: e;
    }

    &:nth-child(6) {
      grid-area: f;
    }

    &:nth-child(7) {
      grid-area: g;
      position: relative;
      @extend .img-fill;
      background-image: url("../assets/img/block3.jpg");

      @media (max-width: 1300px) {
        &,
        .hand{
          background-position: center left;
        }
      }

      @include media-breakpoint-down(lg) {
        &,
        .hand{
          background-position: 25% center;
        }
      }

      @include media-breakpoint-down(md) {
        &,
        .hand{
          background-position: 10% center;
        }
      }

      .hand{
        background-image: url("../assets/img/hand2.png");
      }
    }
  }

}