.wrapper-form {

  .title{
    position: relative;
    font-size: 50px;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 50px;

    @include media-breakpoint-down(xs) {
      font-size: 40px;
    }
  }

  .grid-item {
    padding: 50px;
    padding-bottom: 100px;


    @include media-breakpoint-down(md) {
      padding: 25px;
    }

    &:nth-child(1) {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &:nth-child(2) {
      grid-column: span 3;

      @include media-breakpoint-down(md) {
        grid-column: span 4;
      }

      @include media-breakpoint-down(sm) {
        grid-column: span 5;
      }
    }

    &:nth-child(3) {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}