.wrapper-hero{
    position: relative;
    padding-bottom: 50px;

    @extend .img-fill;
    background-image: url("../assets/img/hero.jpg");

    @include media-breakpoint-down(sm){
        background-image: url("../assets/img/hero-m.jpg");
    }

    font-style: italic;
    text-transform: uppercase;


    .title{
        position: relative;

        font-size: 130px;
        margin-top: -79px;
        line-height: 1em;



        @include media-breakpoint-down(lg){
            font-size: 100px;
            margin-top: -60px;
        }
        @include media-breakpoint-down(md){
            font-size: 75px;
            margin-top: -45px;
        }
        @include media-breakpoint-down(xs){
            font-size: 57px;
            margin-top: -34px;
        }
    }

    span{
        position: relative;

        z-index: 190;
        @include media-breakpoint-down(sm){
            &:nth-child(1){
                display: block;
            }

            &:nth-child(1){
                display: block;
            }
            &:nth-child(1){
                display: block;
            }
        }
    }

    .hand{
        background-image: url("../assets/img/hand.png");
        z-index: 200;

        @include media-breakpoint-down(sm){
            background-image: url("../assets/img/hand-m.png");
        }
    
    }

    .name{
        position: relative;
        display: block;
        word-wrap: break-word;
        z-index: 9999;
    }


    .block{
        position: relative;
        width: 40%;
        height: 100%;
        position: absolute;
        right: 0;
        
        z-index: 170;


        @media (max-width: 800px) {
            width: 50%;
        }
    }
}