//
// colors
//

// red
$red: #d70019;
$red-20: transparentize($red, 0.2);
$red-40: transparentize($red, 0.4);
$red-60: transparentize($red, 0.6);
$red-80: transparentize($red, 0.8);

// orange
$orange: #ff812f;
$orange-20: transparentize($orange, 0.2);
$orange-40: transparentize($orange, 0.4);
$orange-60: transparentize($orange, 0.6);
$orange-80: transparentize($orange, 0.8);

// black
$black: #000;

// dark
$dark: #53565a;
$dark-20: transparentize($dark, 0.2);
$dark-40: transparentize($dark, 0.4);
$dark-60: transparentize($dark, 0.6);
$dark-80: transparentize($dark, 0.8);

// light
$light: #e5e5e6;
$light-20: transparentize($light, 0.2);
$light-40: transparentize($light, 0.4);
$light-60: transparentize($light, 0.6);
$light-80: transparentize($light, 0.8);



//
// bind colors
//
$primary: $red;
$secondary: $orange;



//
// general settings
//
$border-radius: 99rem;



//
// body
//
$body-color: $black;



//
// buttons and inputs
//
$input-btn-padding-y:         .8rem;
$input-btn-padding-x:         1.8rem;



//
// Breakpoints
// 
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1600px,
  xxl: 1800px
);



//
// Forms
// 
$input-btn-focus-color: transparent;
$input-focus-border-color: $black;